ion-view(view-title='Tell Us About Yourself')
    ion-nav-buttons(side="secondary")
      button.button.button-clear.button-balanced(
        ng-click="processForm()"
      ) Save
    ion-content
      center
        .blue
          center.padding
            img.logo.responsive-img(src='img/lvlrlogo.png')
        //- h4.muted 
        //-   | Thanks for your interest! 
        //-   br
        //-   | Please tell us a bit about yourself.
      form(
        name="formObj.leadForm",
        novalidate="",
        ng-submit="formObj.leadForm.$valid && processForm()"
      )
        .list
          label.item.item-input
            span.input-label Name
            input(
              type="text"
              placeholder="Name",
              name="leadname",
              ng-model="lead.name",
              required=""
            )
          label.item.item-input
            span.input-label Phone
            input(
              type="tel",
              name="leadtel",
              placeholder="Phone",
              ng-model="lead.phone",
              required=""
            )
          label.item.item-input
            span.input-label Company
            input(
              type="text"
              name="leadco",
              placeholder="Company",
              ng-model="lead.company",
              required=""
            )
          label.item.item-input
            span.input-label Email
            input(
              type="email"
              name="leademail",
              ng-model="lead.email",
              placeholder="Email"
            )
          //- label.item.item-input
          //-   input(
          //-     type="text"
          //-     name="leademail",
          //-     placeholder="Email"
          //-   )
          .item.button-bar(ng-if="mode === 'editing'")
            a.button(
              ng-class="{'active': lead.grade ==='A'}",
              ng-click="lead.grade = 'A'"
            ) A
            a.button(
              ng-class="{'active': lead.grade ==='B'}",
              ng-click="lead.grade = 'B'"
            ) B
            a.button(
              ng-class="{'active': lead.grade ==='C'}",
              ng-click="lead.grade = 'C'"
            ) C
          label.item.item-input.item-stacked-label(ng-if="mode === 'editing'")
            textarea(
              type="text"
              ng-model="lead.note"
              rows="12"
              placeholder="Add a Note"
            )

